.chatHeader {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #1d1e22, #42444d);
  padding: 15px 22px;
  justify-content: space-between;
  min-width: 375px;
  height: 60px;

}

.menu {
  color: white;
  height: 35px;
  width: 35px;

}

.headerLogo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logoText {
  color: #fff;
  font-size: 1.51rem;
  font-weight: 600;
}

.logoIcon {
  height: 35px;
  width: 35px;
  background: #fff;
  padding: 6px;
  fill: black;
  border-radius: 50%;
}

.newfilebtn {
  border: none;
  color: #fff;
  height: 60px;
  width: 60px;
  font-size: 1.9rem;
  margin-right: -10px;
  padding-top: 2px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  transition: 0.2s ease;
}

@media screen and (min-width:768px) {
  .chatHeader {
    min-width: 768px;
  }

  .menu {
    display: none;
  }
}

@media screen and (min-width:1024px) {
  .chatHeader {
    min-width: 1024px;
  }
}