.chatHeader {
  display: flex;
  align-items: center;
  background: #5350C4;
  padding: 15px 22px;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  gap: 10px;
  align-items: center;
}

 .logoText {
  color: #fff;
  font-size: 1.51rem;
  font-weight: 600;
}

.logoIcon{
  height: 35px;
  width: 35px;
  background: #fff;
  padding: 6px;
  fill: #5350C4;
  border-radius: 50%;
}

.closeChatbot {
  border: none;
  color: #fff;
  height: 60px;
  width: 60px;
  font-size: 1.9rem;
  margin-right: -10px;
  padding-top: 2px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  transition: 0.2s ease;
}

