.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  min-height: 100vh;
  background: linear-gradient(90deg, #1f1f1f 0%, #2b2d35 50%, #42444d 100%);
  color: rgb(247, 247, 247);
  padding:  0 20px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}


.closeButton {
  display: none;
}

.chatList{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem{
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05),
   6px 6px 10px rgba(0, 0, 0, 0.5);
}
.listItem:active{
  box-shadow:  2px 2px 2px rgba(255, 255, 255, 0.05),
   -2px -2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .sidebar {
    left: -250px;
  }

  .sidebar.open {
    left: 0;
  }

  .closeButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #cbcbcb;
  }

}

@media (min-width: 768px) {
  .fixedRight {
    transform: translateX(0);

  }
}