.chatFooter {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background: #fff;
}

.chatForm {
  display: flex;
  width: 100%;
  align-items: center;
}

.messageInput {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.chatControls {
  display: flex;
  gap: 8px;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
}

.sendButton {
  background: #5350C4;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}