.chatFooter {
  position: fixed;
  bottom: 0;
  background: linear-gradient(0deg, #1d1e22, #42444d);
  padding: 15px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  min-width: 375px;
  width: 100%;
}

.chatForm {
  display: flex;
  width: 100%;
  align-items: center;

}

.messageInput {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  background: rgb(219, 219, 219);
  font-size: 16px;
  touch-action: manipulation;
}

.footerActions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
}

.sendButton {
  color: rgb(255, 255, 255);
  border: none;
  background: none;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.sendButton:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .chatFooter {
    width: calc(100% - 250px);
    min-width: 768px;
    left: 250px;
  }

}

@media screen and (min-width: 1024px) {
  .chatFooter {
    min-width: 1024px;
  }

}