.app {
  display: flex;
  transition: margin-right 0.3s ease-in-out;

}


.sidebarOpen .mainContent {
  margin-left: 250px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: margin-right 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .sidebarOpen .mainContent {
    margin-left: 0;
  }
}