
.messageWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}


.botWrapper {
  justify-content: flex-start;
}


.userWrapper {
  justify-content: flex-end;
}

.userMessage {
  background-color: #000000;
  color: white;
  padding: 8px 8px;
  border-radius: 8px;
  max-width: 50%;
  text-align: left;
}


.botMessage {
  background-color: #fefefe;
  color: black;
  padding: 8px 8px;
  border-radius: 8px;
  max-width: 50%;
  text-align: left;
}


.botIcon {
  font-size: 25px;
  color: #000000;
}

.userIcon {
  font-size: 25px;
  color: #000000;
}

.imageMessage {
  max-width: 350px;
  border-radius: 5px;
  margin-top: 5px;
}